<section class='landing'>
    <h1 class='landing_title'>Pé de Pizza</h1>
    <h2 class='landing_subtitle'>Forno a Lenha | Gostosa e Crocante</h2>
    <%= image_tag  "pizza_caixa.svg", class: 'landing_img1' %>
    <%= image_tag  "pizza_caixa.svg", class: 'landing_img2' %>
</section>

