<h1>Login</h1>

<%= form_with(scope: :session, local:true) do |form| %>
    <div class = "field">
        <%= form.label :email, "E-mail", class:'form_label' %>
        <%= form.email_field :email, class: 'form_field' %>
    </div>

    <div class='field'>
        <%= form.label :password, "Senha", class:'form_label' %>
        <%= form.password_field :password, class: 'form_field' %>
    </div>

    <div class="actions">
        <%= form.submit "Entrar", class: 'button'%>
    </div>

<% end %>

<%= link_to "Não possui conta? Cadastre-se!", new_user_path %>