<%= form_with(model: contato, local: true) do |form| %>
  <% if contato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contato.errors.count, "error") %> prohibited this contato from being saved:</h2>

      <ul>
      <% contato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Nome:', class: 'form_label'%>
    <%= form.text_field :name, class: 'form_field' %>
  </div>

  <div class="field">
    <%= form.label :email, 'Email:', class: 'form_label' %>
    <%= form.text_field :email, class:'form_field' %>
  </div>

  <div class="field">
    <%= form.label :message, 'Mensagem:', class: 'form_label' %>
    <%= form.text_area :message, class:'field_message' %>
  </div>

  <div class="actions">
    <%= form.submit value: 'Enviar mensagem', class: 'button'%>
  </div>
<% end %>
