<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Nome:', class:'form_label' %>
    <%= form.text_field :name, class:'form_field' %>
  </div>

  <div class="field">
    <%= form.label :email, 'E-mail:', class:'form_label' %>
    <%= form.text_field :email, class:'form_field' %>
  </div>

  <div class="field">
    <%= form.label :password, 'Senha:', class:'form_label'%>
    <%= form.password_field :password, class:'form_field' %>
  </div>

    <div class="field">
    <%= form.label :password_confirmation, 'Confirme sua senha:', class:'form_label'%>
    <%= form.password_field :password_confirmation, class:'form_field' %>
  </div>

  <div class="actions">
    <%= form.submit value: 'Cadastrar-se', class:'button'%>
  </div>
<% end %>
