<p id="notice"><%= notice %></p>

<h1 class='index_title' >Lista de Usuários</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Página do usuário', user, class: 'index_button' %></td>
        <td><%= link_to 'Editar', edit_user_path(user), class: 'index_button' %></td>
        <td><%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Deseja mesmo excluir?' }, class: 'index_button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar usuário', new_user_path %>
