<p id="notice"><%= notice %></p>

<% if @user.admin %>
  <h2>Voce está logado como admin</h2>
<%end%>

<h1 class='user_name'>
  <%= @user.name %>
</h1>

<p>
  <strong class='label'>Email:</strong>
  <%= @user.email %>
</p>

<div>
  <strong> 
  <% last_order = @pedidos.last %>
  <%= link_to  "Pedido mais recente", last_order %>
  <br>
  <% c = 1 %>
  <% @pedidos.each do |pedido| %>
    <%= link_to  "Pedido " + c.to_s, pedido %>
    <% c += 1 %>
    <br>
  <%end%>
  </strong>
</div>

<%if @user == current_user || @user.admin%>
  <%= link_to 'Edit', edit_user_path(@user) %>
<%end%>