<p id="notice"><%= notice %></p>

<h1>Promocaos</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Produto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promocaos.each do |promocao| %>
      <tr>
        <td><%= promocao.price %></td>
        <td><%= promocao.produto %></td>
        <td><%= link_to 'Show', promocao %></td>
        <td><%= link_to 'Edit', edit_promocao_path(promocao) %></td>
        <td><%= link_to 'Destroy', promocao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promocao', new_promocao_path %>
