<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @promocao.price %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @promocao.produto %>
</p>

<%= link_to 'Edit', edit_promocao_path(@promocao) %> |
<%= link_to 'Back', promocaos_path %>
