<%= form_with(model: pedido, local: true) do |form| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field(:user_id, pedido.users_id) %>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ['Em preparo', 'Saiu para Entrega', 'Entregue', 'Cancelado'] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

