
<h1 class='index_title'>Pedidos</h1>

<table>
  <thead>
    <tr>
      <th>Modo de Pagamento</th>
      <th>Status</th>
      <th>Endereço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.payment %></td>
        <td><%= pedido.status %></td>
        <td><%= pedido.address %></td>
        <td><%= link_to 'Mostar pagina do pedido', pedido, class: 'index_button' %></td>
        <td><%= link_to 'Excluir', pedido, method: :delete, data: { confirm: 'Deseja mesmo excluir?' }, class: 'index_button' %></td>
        <td><%= link_to 'Editar status', edit_pedido_path(pedido), class: 'index_button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

