<h1>Finalizar Pedido</h1>


<%= form_for( @pedido , remote: true) do |form| %>
    <div class="field">
        <%= form.label :payment, 'Modo de pagamento:' %>
        <div>Dinheiro<%= form.radio_button(:payment, 'Dinheiro') %></div>
        <div>Cartão<%= form.radio_button(:payment, 'Cartão') %></div>
    </div>
    <div class="field">
        <%= form.label :address, 'Endereço de entrega:' %>
        <%= form.text_field :address %>
    </div>
    <%= hidden_field(:pedido,:status, :value => "Em preparo") %> 
    <%= hidden_field(:pedido,:users_id, :value => current_user.id) %>
    <%= hidden_field(:pedido,:cars_id, :value => current_user.car.id) %>
    <div class="actions">
        <%= form.submit value: 'Finalizar pedido'%>
    </div>
<% end %>

