<p id="notice"><%= notice %></p>

<p>
  <strong>Usuário:</strong>
  <%= User.find(@pedido.users_id).name %>
</p>

<p>
  <strong class='show_label'>Modo de Pagamento:</strong>
  <%= @pedido.payment %>
</p>

<p>
  <strong class='show_label'>Endereço:</strong>
  <%= @pedido.address%>
</p>

<p>
  <strong class='show_label'>Status:</strong>
  <%= @pedido.status %>
</p>

<% produtos = CarProduct.where(car_id: @pedido.cars_id) %>
<strong>Produtos:</strong>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
    </tr>
  </thead>
  <tbody>
    <% produtos.each do |produto| %>
      <% prod_id = produto.produto_id %>
      <tr>
      <td><%= Produto.find(prod_id).name %></td>
      <td><%= produto.quantity %></td>
      </tr>
    <%end%>
  <tbody>
</table>

