<%= form_with(model: produto, local: true) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Nome do produto:', class: 'form_label' %>
    <%= form.text_area :name, class: 'form_field' %>
  </div>

  <div class="field">
    <%= form.label :description, 'Descrição', class: 'form_label' %>
    <%= form.text_area :description, class: 'form_field' %>
  </div>

  <div class="field">
    <%= form.label :price, 'Preço:', class: 'form_label' %>
    <%= form.text_field :price, class: 'form_field' %>
  </div>

  <div class="actions">
    <%= form.submit value: 'Salvar Produto', class: 'button' %>
  </div>
<% end %>
