<p id="notice"><%= notice %></p>

<h1 class='index_title'>Produtos</h1>

<table>
  <thead>
    <tr>
      <th>Nome do Porduto</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.name %></td>
        <td><%= produto.description %></td>
        <td><%= produto.price %></td>
        <td><%= link_to 'Editar', edit_produto_path(produto), class: 'index_button' %></td>
        <td><%= link_to 'Excluir', produto, method: :delete, data: { confirm: 'Deseja mesmo excluir?' }, class: 'index_button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar Produto', new_produto_path %>
