<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @produto.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @produto.description %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @produto.price %>
</p>

<%= link_to 'Voltar para Todos os Produtos', produtos_path %>
