<h2>Cardápio<h2>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <% if !current_user.nil? %>
      <th>Quantidade</th>
      <th></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.name %></td>
        <td><%= produto.description %></td>
        <td><%= produto.price %></td>
        <td>
            <% if !current_user.nil? %>
                <%= form_with( url:'/addtocar', model: @car_product) do |form| %>
                    <%= form.number_field :quantity, class: 'input_quantity' %>
                    <%= form.hidden_field(:car_id, :value => @car.id) %>
                    <%= form.hidden_field(:produto_id, :value => produto.id) %>
                    <%= form.submit 'Adicionar ao carrinho', class: 'add_button' %>
                <%end%>
            <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if logged_in? %>
<%= link_to  "Finalizar Pedido", new_pedido_path, class:'pedido_button', id: 'button_finalizar' %>
<%end%>
<% if current_user.nil? %>
    <%= link_to  "Faça Log-in para realizar pedidos!", login_path, class:'pedido_button', id: 'button_menu_login' %>
    <%= link_to  "ou Cadastre-se já!", new_user_path, class:'pedido_button', id: 'button_menu_sign-in' %>
<%end%>