/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Header */

 $rosa-claro: #FF6868;
 $branco: #FAFAFA;

 header {
     display: block;
     position: absolute;
     top: 0px;
     left: 0;
     width: 100vw;
     height: 50px;
     margin: 0 auto;
     background-color: #FF6868;
 }
 .allways-on-links {
     text-align: left;
 }

.login-block {
    position: absolute;
    right: 8vw;
    top: 20px;
    height: 70px;
    width: 150px;
    background-color: #FF6868;
    border-radius: 40%;
    text-align: center;
}

#link-login, #link-sign-in, #link-logout {
    position: relative;
    top: 20px;
}

.sign-in-block {
    position: absolute;
    right: 20vw;
    top: 20px;
    height: 70px;
    width: 150px;
    background-color: #FF6868;
    border-radius: 40%;
    text-align: center;
}

.header-link {
    text-decoration: none !important;
    color: #FAFAFA !important ;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
}

.logout-block {
    position: absolute;
    right: 15vw;
    top: 20px;
    height: 70px;
    width: 150px;
    background-color: #FF6868;
    border-radius: 40%;
    text-align: center;
}

.allways-on-links a {
    margin-right: 10px;
}

.site-body {
    position: absolute;
    top: 50px;
}

/* Footer */

footer {
    position: absolute;
    background-color: #FF6868;
    width: 100vw;
    height: 20vh;
    left: 0;
    bottom: 0;
}

.footer_title {
    position: relative;
    display: block;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    top: 20px;
    color: #FAFAFA;
    font-family: 'Lobster two', cursive;
    font-size: 2.5em;
}

.footer_phone , .footer_email {
    color: #FAFAFA;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 150px;
    font-size: 1.3em;
}