// Place all the styles related to the Contatos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form_label {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
}

.contato_title {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
}

.contato_description {
    font-family: 'Poppins', sans-serif;
}

.button {
    display: block;
    width: 150px;
    height: 40px;
    color: #fafafa;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    border: none;
    background-color: #F53939;
    transition: 0.3s;
}

.button:hover {
    border: solid #F53939;
    background-color: #fafafa;
    color: #F53939;
    cursor: pointer;
}

.form_field, .field_message{
    font-family: 'Poppins', sans-serif
}

.field_message {
    width: 300px;
    height: 130px;
    font-size: 1em;
}
