// Place all the styles related to the Infos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quem-somos_title {
    color: yellow;
    font-family: 'Lobster two', cursive;
    font-size: 5em;
    position: relative;
    left: 170px;
    top: 60px;
}

.quem-somos_description {
    width: 500px;
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    position: relative;
    left: 100px;
    top: 60px;
}

.quem-somos_img {
    height: 300px;
    width: 300px;
    position: relative;
    left: 750px;
    bottom: 200px;
}

/* Edit */
#button_info {
    width: 250px;
}

#text-area_info {
    height: 200px;
    width: 350px;
}