// Place all the styles related to the Produtos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pedido_button {
    text-decoration: none !important;
    display: block;
    width: 180px;
    padding: 5px;
    color: #FAFAFA;
    background-color: #F53939;
}

.pedido_button:hover {
    color: #F53939;
    border: solid #F53939;
    background-color: #FAFAFA;
}

.add_button {
    border: solid #F53939;
    background-color: #F53939;
    color: #FAFAFA;
}

.add_button:hover {
    background-color: #FAFAFA;
    color: #F53939;
    cursor: pointer;
}

.input_quantity {
    width: 50px;
}

#button_finalizar {
    position: relative;
    margin: 0 auto;
    top: 40px;
}

#button_menu_login {
    position: relative;
    top: 30px;
}

#button_menu_sign-in {
    position: relative;
    left: 200px;
    bottom: 33px;
    height: 54px;
}

/* Index */

.index_title {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
}

.index_button {
    text-decoration: none;
    color: #FAFAFA;
    background-color: #F53939;
    border: solid grey;
}

.index_button:hover {
    text-decoration: none;
    border: solid #F53939;
    color: #F53939;
    background-color: #FAFAFA;
    cursor: pointer;
}