// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Section 1 - Landing Page */
.landing {
    width: 100vw;
    height: 80vh;
    left: 0;
    top: 50px;
}
.landing_title {
    position: relative;
    width: 400px;
    display: block;
    margin: 0 auto;
    top: 100px;
    font-family: 'Lobster two', cursive;
    font-size: 6em;
    text-align: right;
    margin-left: 400px;
    color: #F53939;
}

.landing_subtitle {
    position: relative;
    display: block;
    width: 450px;
    margin-left: 410px;
    top: 160px;
    font-family: 'Lobster two', cursive;
    font-size: 2.5em;
    color: #F53939;
}
.landing_img1 , .landing_img2 {
    height: 150px;
    width: 150px;
}

.landing_img1 {
    position: relative;
    left: 150px;
    top: 150px;
}
.landing_img2 {
    position: relative;
    left: 800px;
    top: 150px;
}

