<%= form_with(model: info, local: true) do |form| %>
  <% if info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(info.errors.count, "error") %> prohibited this info from being saved:</h2>

      <ul>
      <% info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :who, 'Quem somos:', class: 'form_label' %>
    <%= form.text_area :who, class:'form_field', id: 'text-area_info' %>
  </div>

  <div class="field">
    <%= form.label :email, 'E-mail de contato:', class: 'form_label' %>
    <%= form.text_field :email, class:'form_field' %>
  </div>

  <div class="field">
    <%= form.label :phone, 'Telefone de contato:', class: 'form_label' %>
    <%= form.text_field :phone, class:'form_field' %>
  </div>

  <div class="actions">
    <%= form.submit value:'Atualizar informações', class: 'button', id: 'button_info' %>
  </div>
<% end %>
