<section class= 'quem-somos'>
    <h3 class='quem-somos_title'>Quem somos?</h3>
    <p class='quem-somos_description'><%= @infos.who %></p>
    <%= image_tag  "food-truck.svg", class: 'quem-somos_img' %>
</section>