<p id="notice"><%= notice %></p>

<p>
  <strong>Quem somos:</strong>
  <%= @info.who %>
</p>

<p>
  <strong>Email de contato:</strong>
  <%= @info.email %>
</p>

<p>
  <strong>Telefone de contato:</strong>
  <%= @info.phone %>
</p>

<%= link_to  "Voltar para pagina inicial", root_path %>

