<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'allPages' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Poppins" rel="stylesheet"> 
  </head>

  <body>
    <header>
      <ul class= 'navbar-list'>
        <div class='allways-on-links'>
          <%= link_to  "Pagina inicial", root_path, class: 'header-link' %>
          <%= link_to  "Quem Somos", '/quemsomos', class: 'header-link' %>
          <%= link_to  "Contato", new_contato_path, class: 'header-link' %>
          <%= link_to  "Nosso cardapio(Faça seu pedido)", '/showmenu', class: 'header-link' %>
        </div>

        <%if !logged_in?%>
          <div class='sign-in-block'><%= link_to  "Cadastre-se", new_user_path, class: 'header-link', id: 'link-sign-in' %></div>
          <div class='login-block'><%= link_to  "Login", login_path, class: 'header-link', id: 'link-login' %></div>
        <%end%>
        <div class='admin-bar'>
          <%if logged_in? && current_user.admin%>
              <%= link_to  "Gerenciar Produtos", produtos_path, class: 'header-link' %>|
              <%= link_to  "Gerenciar Pedidos", pedidos_path, class: 'header-link' %>|
              <%= link_to  "Gerenciar Usuários", users_path, class: 'header-link' %>|
              <%= link_to  "Gerenciar Informações", edit_info_path(1), class: 'header-link' %>
          <%end%>
        </div>
        <%if logged_in?%>
          <div class='logout-block'><%= link_to  "Logout", logout_path, method: :delete, class: 'header-link', id: 'link-logout' %></div>
        <%end%>
      </ul>
    </header>
    <div class='site-body'>
    <%= yield %>
    </div>
    <footer>
      <h4 class='footer_title'>Contato</h4>
      <% infos = Info.last %>
      <p class='footer_phone'>Telefone: <%= infos.phone %></p>
      <p class='footer_email'>Email: <%= infos.email %> </p>
    </footer>
  </body>
</html>
